html {
  background-color: hsl(185, 75%, 39%);
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
  background-position: right 10em top -30em, top 15em left 10em;
  background-repeat: no-repeat;
  display: grid;
  place-content: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrapper {
  background: white;
  border-radius: 20px;
  overflow: hidden;
}

.profile {
  text-align: center;
  margin: auto;
}

.banner img {
  object-fit: contain;
  width: 100%;
}

.profile img {
  border: 6px white solid;
  border-radius: 50%;
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}


.name,
.user-stats .number {
  color: hsl(229, 23%, 23%);
  font-weight: 700;
}

.age,
.location,
.categories {
  color: hsl(227, 10%, 46%);
}

.name {
  margin: 0 0.5em;
}

.location {
  display: block;
  font-size: 0.8em;
  text-align: center;
  margin: 0.5em 0 1.5em;
}

.user-stats {
  border-top: 0.7px solid hsl(227, 10%, 46%, 0.4);
  display: flex;
  justify-content: space-evenly;
  padding: 1.5em 0;
  text-align: center;
}

.user-stats .number {
  display: block;
  letter-spacing: 0.05em;
}

.user-stats .categories {
  font-size: 0.65em;
  letter-spacing: 0.1em;
  opacity: 0.7;
}

@media (min-width: 570px) {
  body {
    background-position: left -16em top -28em, right -16em bottom -29em;
    background-repeat: no-repeat;
  }
}