html {
  background: hsl(30, 38%, 92%);
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
}



*,
*:before,
*:after {
  box-sizing: inherit;
}

.card {
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  margin: 1em;
  overflow: hidden;
}

.image-side img {
  width: 100%;
}

.detail-side {
  padding: 2em;
}

.product-label,
.product-detail,
.product-prices,
.popup .text {
  color: hsl(228, 12%, 48%);
}

.product-label {
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

.product-title,
.price {
  font-family: 'Fraunces', serif;
  font-weight: 700;
}

.product-title {
  color: hsl(212, 21%, 14%);
  font-size: 2.5em;
  margin-top: -0.2em;
}

.product-detail {
  line-height: 2
}

.product-prices {
  display: flex;
  align-items: center;
  justify-content: spa;
}

.price {
  color: hsl(158, 36%, 37%);
  font-size: 2.2em;
}

.product-prices s {
  padding: 1em;
}

.cta-btn {
  border: none;
  border-radius: 10px;
  background: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  padding: 1.2em;
  font-weight: 700;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cta-btn:hover {
  background: hsl(212, 21%, 14%);
}

.cta-btn img {
  padding: 0 0.7em;
}

.pop-up {
  display: none;
  background: hsl(30, 38%, 92%);
  border-radius: 10px;
  width: 295px;
  font-size: 0.9rem;
  padding: 1em;
  position: absolute;
  bottom: 10%;
  left: 10%;
  text-align: center;
}

@keyframes popupAnimation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0.5;
    transform: translateY(-20px);
  }

  100% {
    display: none;
    opacity: 0;
    transform: translateY(-25px);
  }
}

.pop-up.active {
  animation-name: popupAnimation;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

.active {
  display: block;
}

@media (min-width: 750px) {
  body {
    display: grid;
    place-content: center;
  }

  .card {
    display: flex;
    margin: 3em;
    width: 700px;
    height: 550px;
  }

  .image-side,
  .detail-side {
    flex: 50%;
  }

  .cta-btn {
    margin: 6em 0 0 0
  }

  .pop-up {
    bottom: 25%;
    left: 52%;
  }
}