html {
  background: hsl(216, 12%, 8%);
  box-sizing: border-box;
  color: hsl(0, 0%, 100%);
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
}

html, body {
  height: 100%;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100dvh;
  display: grid;
  place-content: center;
}

main {
  margin: 1em;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: 1.5em;
  font-weight: 700
}

p {
  color: hsl(217, 12%, 63%);
  font-weight: 400;
}

.feedback-card, .thankyou-card {
  background: hsl(213, 19%, 18%);
  border-radius: 15px;
  padding: 2em 1.5em;
  margin: 1.5em 0;
  width: 350px;
  height: 350px
}

.icon-wrapper {
  background: hsl(217, 12%, 63%, 0.1);
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.icon-wrapper img {
  position: relative;
  top: 11px;
  left: 11px;
}

.rating {
  display: flex;
  justify-content: space-between;
}

.rating button {
  background: hsl(216, 12%, 54%, 0.2);
  border: none;
  border-radius: 50%;
  color: hsl(217, 12%, 63%);
  width: 40px;
  height: 40px;
  margin: 0 0.5em;
}

.rating button:hover {
  background: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.rating button.selected {
  background: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

.submit-btn {
  background: hsl(25, 97%, 53%);
  border: none;
  border-radius: 20px;
  color: hsl(0, 0%, 100%);
  font-family: 'Overpass', sans-serif;
  font-size: 0.9rem;
  margin: 2em 0 1em;
  letter-spacing: 0.1em;
  padding: 0.75em;
  text-transform: uppercase;
  width: 100%;
}

.submit-btn:hover {
  background: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

.thankyou-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 22.5%;
  visibility: hidden;
}

.thankyou-card img {
  width: 125px;
}

.rating-announcement {
  background: hsl(217, 12%, 63%, 0.1);
  border-radius: 20px;
  color: hsl(25, 97%, 53%);
  font-size: 0.9rem;
  padding: 0.5em 1em;
  margin: 1.5em 0 0.5em;
  opacity: 0.8;
}

.thankyou-card p {
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.thankyou-card.show {
  visibility: visible;
}

@media (min-width: 700px) {
  main {
    width: 350px;
  }

  .thankyou-card {
    top: 12.24em;
  }
}